* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace, sans-serif;
    box-sizing: border-box;
}
#header {
    color: hsla(360, 100%, 100%, 1);
    min-height: 12vh;
    display: flex;
    justify-content: center;
    align-items: top;
    background-size: contain;
    font-size: 20px;
    background: url("https://media0.giphy.com/media/3osxYfP8SJVa9XpVyo/100.webp?cid=790b76115d2fbcf1533455376f599199&rid=100.webp")center;
    border-bottom: 6px solid hsla(360, 100%, 100%, 1);
    border-top: 6px solid hsla(360, 100%, 100%, 1);
    opacity: .5;
}
body {
    min-height: 90vh;
    background: hsla(0, 0%, 16%, 0.91)
}
.score {
    margin: 30px auto;
 border: 5px solid hsla(0, 99%, 40%, 0.49);
 width: 150px;
 border-radius: 5px;
 text-align: center;
 color: hsla(360, 100%, 100%, 1);
 font-size: 1.8rem;
 padding: 5px 15px;
 position: relative;
}
.user-scorebtn, .comp-scorebtn {
    display: block;
    background: hsla(226, 99%, 23%, 1);
    color: hsla(360, 100%, 100%, .75);
    border: 3px solid hsla(226, 99%, 14%, 1);
    font-size: 25px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px hsla(226, 99%, 5%, 0.98);
    transition: all 1.5s ease-in-out;
    cursor: pointer;
    outline: none;
}
div {
    text-align: center;
}
#play-btn {
    font-size: 1.5rem;
    padding: 5px;
    margin-bottom: 20px;
    color: hsla(226, 99%, 23%, 1);
    background:  hsla(0, 99%, 40%, 0.49);
    border: 5px solid  hsla(0, 99%, 40%, 0.49);
    outline: none;
    border-radius: 25px;
    box-shadow: 7px 7px 7px black;
    transition: all 2s ease-in-out;
}
#play-btn:hover {
    color: hsla(0, 99%, 40%, 0.49);
    background:  hsla(226, 99%, 23%, 1);
    border: 5px solid hsla(226, 99%, 23%, 1);
}
.user-scorebtn {
    position: absolute;
    top: 19px;
    left: 95%;
}
.comp-scorebtn {
    position: absolute;
    top: 19px;
    right: 95%; 
}
.comp-scorebtn:hover, .user-scorebtn:hover {
    background: hsla(0, 99%, 40%, 0.75);
    color:  hsla(226, 99%, 23%, 1);
}
input {
    display: none;
}
#up, #ur, #us {
    border: black;
    border-radius: 100%;
    transition: all 2s ease;
    cursor: pointer; 
}
#result-message, #shoot-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
#results {
    text-transform: capitalize;
    font-size: 1.5rem;
    color: white;
}
.comp-rps, .user-rps {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    font-size: 5rem;
    color: hsla(226, 99%, 14%, 1);
    transition: all 1s ease;
}
input, #ur:hover, #up:hover, #us:hover {
    color: hsla(0, 99%, 40%, 0.75);
}
#comp-rock, #comp-paper, #comp-scissors {
    visibility: hidden;
}